---
import PbImage from '../components/PbImages.astro';
const offre = Astro.props.offre;
---

<div class="card" style="background-color: rgb(233, 156, 156)" >
    <h4 style="margin: 20px;"><b>{offre.nom_maison}</b></h4>
    <PbImage record={offre} recordImage={offre.Images[0]} />
    <div class="container">
        <p>{offre.Nom_maison}</p>
    </div>
</div>